<div class="league-overview">

    <a class="b-link-fade b-animate-go" href="#">
        <img src="../../assets/images/portfolio/port01.jpg" width="230" height="230">

        <div class="b-wrapper">
            <h4 class="b-from-left b-animate b-delay03" style="margin-top: 83px"> Sweet stuff here </h4>

            <p class="b-from-right b-animate b-delay03"> Bout that Bass</p>
        </div>
    </a>

</div>



