<div></div>
<div>
    <div>
        <table class="leagues-table ">
            <thead>
            <tr>
                <th>
                    <%= league.name %>
                </th>
            </tr>
            </thead>
            <tr>
                <td> users </td> <td> <%= league.users.count %> </td>
            </tr>
            <tr>
                <td> games </td> <td> <%= league.games.count %> </td>
            </tr>
        </table>
    </div>

    <div></div>
</div>


