<div class="games-table">
    <div class="topframe-table">
        <div class="inline-block">Current games <span class="glyphicon glyphicon-chevron-down icon-white"></span></div>
        <!--<div class="pts-header">Pts  Pos</div>-->
    </div>

    <ul class="games-list">


        <% if @games.empty? %>
            <li> You have no games yet. <%= link_to "Start one now", new_league_game_path(@league) %></li>

        <%
           else
             @games.each do |game|
        %>
                <li>

                    <div class="inline game-title">
                        <%= link_to game.name, game %>
                    </div>
                    <div class="float-right pts-pos-entry">
                        <%= game.points current_user %>
                    </div>

                    <div style="clear: both; height: 1px"></div>
                </li>

            <%
               end
               end
            %>
    </ul>
</div>