<div class="row league-container">

        <% if @leagues.count == 0 %>
            <p> you are currently in no leagues</p>

        <% else %>
            <h1> << <%= current_user.name %>'s Leagues >> </h1>

            <div>
                <% @leagues.each do |league| %>
                    <%= render 'leagues/index_table', league: league %>
                <% end %>

            </div>
        <% end %>

        <div>
            <%= link_to "Create a league now!", new_league_path, class: "btn btn-primary btn-small btn-danger" %>
        </div>

</div>