<% if @leagues.count == 0 %>
    <p> you are currently in no leagues</p>

<% else %>
    <!--<table class="table table-striped table-bordered table-condensed table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Name</th>-->

        <!--</tr>-->
        <!--</thead>-->

    <!--</table>-->
    <div>
        <% @leagues.each do |league| %>
            <p><%= league.name %></p>

            <% end %>la

            </div>
<% end %>

<%= link_to "Create a league now!", new_league_path %>
    <%= link_to "Join a league", join_league_path %>

