<div class="row">
    <div class="span12">

        <% if @leagues.count == 0 %>
            <p> you are currently in no leagues</p>

        <% else %>

            <div>
                <% @leagues.each do |league| %>
                    <%= render 'leagues/index_table', league: league %>
                <% end %>

            </div>
        <% end %>

        <%= link_to "Create a league now!", new_league_path %>
        <%= link_to "Join a league", join_league_path %>
    </div>

</div>