<div class="friend-box">
    <div class="header">
        Friends
    </div>
    <div class="friend_list">
        <ul>
            <%= render partial: "friends/friend" , collection: user_friends %>
        </ul>
    </div>
</div>