<div class="friend-box">
    <div class="header">
        Friends
    </div>
    <div>
        <ul class="friend_list">
            <% if user_friends.empty? %>
                <li> You have no current friend requests</li>
            <% else %>
                <%= render partial: "friends/friend", collection: user_friends %>
            <% end %>
        </ul>
    </div>
</div>