<div class="friend-box margin-top">
    <div>
        <div class="header">
            Friend Requests
        </div>
        <div>
            <ul class="requested-friends-list">
                <%= render partial: "friends/requested_friend", collection: @friend_requests %>
            </ul>
        </div>
    </div>

</div>