<li id="friend-request-<%=requested_friend.id%>">
    <div class="margin-left">
        <%= avatar_for(requested_friend, 'medium', "float-left", "50", nil) %>
    </div>

    <div class="user-search-content ">
        <%= link_to requested_friend.name, requested_friend, class: "padding-right" %>
    </div>
    <div class="user-search-content" >
        <%= friend_link requested_friend, "short"%>
    </div>
</li>