<div class="friend-requests-box margin-top">
    <div>
        <div class="header">
            <div class="pad">
                Friend Requests
            </div>

        </div>
        <div class="pad">
            <ul class="requested-friends-list">
                <% if @friend_requests.empty? %>
                    <li> You have no current friend requests</li>
                <% else %>
                    <%= render partial: "friends/requested_friend", collection: @friend_requests %>
                <% end %>
            </ul>
        </div>
    </div>

</div>