<div>
    <div>
        <div class="no-margin inline">Votes Pending</div>
        <div class="inline"> <%= link_to 'Create Vote', ajax_vote_form_path(modal: "true") , {:remote => true, 'data-toggle' => "modal", 'data-target' => '#vote-window', class: "btn btn-sm btn-primary btn-danger btn-right mrg_btm_3px"} %>
            <div id="vote-window" class="modal fade" role="dialog" aria-labelledby="voteWindow" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= render 'event_votes/vote_table' %>
    <div class="no-margin ">
        <p>
            Show vote history <%= link_to 'On', show_events_history_path(on_off: 1), remote: true %>
            | <%= link_to 'Off', show_events_history_path(on_off: 0), remote: true %>
        </p>
    </div>
</div>