<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Pointz, <%= @user.name %> </h1>
<p>
    You have successfully signed up to Pointz,
    your username is: <%= @user.name %>.<br>
</p>
<p>
    To login to the site, just follow this link: <%= @url %> (This doesn't work for now).
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>