<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

    <style>
        .box {
            width: 700px;
            background: white;
            border: 1px solid #808080;
            padding: 20px;
        }

         h1{
             color: #ff0000;
         }
    </style>
</head>
<body>
<div class="box">

    <h1>Welcome to ManPoints, <%= @user.name %> </h1>

    <p>
        You have successfully signed up to ManPoints,
        your username is: <%= @user.name %>.<br>
    </p>

    <p>
        To log in to ManPoints, just follow this link: <%= @url %> (This doesn't work for now).
    </p>

    <p>Thanks for joining and have a great day!</p>
</div>
</body>
</html>