    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Game</th>
            <th>Points</th>
            <th>Votes Pending</th>
        </tr>
        </thead>

        <% @scores.each do |score| %>

            <tr>
                <td><%= link_to score.game.name , score.game %></td>
                <td><%= score.points %></td>
                <td><%= current_user.open_votes_by_game score.game %></td>
            </tr>
        <% end %>

    </table>

