<div class="topframe">
    <div>Your Current Leagues <i class="icon-chevron-down icon-white"></i></div>
    <div class="pts-header">Pts  Pos</div>
</div>
<div class="leagues-table">
    <ul class="leagues-list">


        <% if @leagues.empty? %>
            <li> You have no leagues yet. <%= link_to "Start one now", new_league_path %></li>

        <%
           else
             @leagues.each do |league|
        %>
                <li>

                    <div class="league-title">
                        <%= link_to league.name, league %>
                    </div>

                    <% league.games.each do |game| %>
                        <div class="inline game-title">
                            <%= link_to game.name, game %>
                        </div>
                        <div class="float-right pts-pos-entry">
                            <%= game.points current_user %>

                        </div>

                    <div style="clear: both; height: 1px"></div>
                    <% end %>
                </li>

            <%
               end
               end
            %>
    </ul>
</div>
