<li>
    <%= gravatar_for user, size: 52 %>
    <%= link_to user.name, user %>
    <span>
        <p >
         <%= link_to 'Edit this User', edit_user_path(user), :class => "btn" %>
        </p>
        <p>
            <% if current_user.admin? && !current_user?(user) %>
            <%= link_to 'Destroy this User', user, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn" %>
            <% end %>

        </p>
        <p style="clear:both"></p>
    </span>
</li>
