<div class="root">
    <div class="container">
        <span>
            <%= link_to 'New User', new_user_path %>
        </span>
        <div class="row">

            <div class="content span10" style="*float:right;">
                <%= will_paginate %>

                <%= render @users %>

                <%= will_paginate %>

            </div><!-- content div -->
        </div>
    </div><!-- end container div -->
</div><!-- end root div -->