<div class="row">
    <div class="col-md-8 search-results">
            <% provide(:title, 'All users') %>
            <h1>Search Results</h1>

            <%= will_paginate %>

            <ul class="users">
                <%= render partial: 'search_user', collection: @users %>
            </ul>

            <%= will_paginate %>
    </div>
</div>