<% provide(:title, @user.name) %>
<div class="row">
    <div class="ele-ctr container-small">

        <div class="user-info">
            <%= render 'shared/user_info' %>
        </div>

        <div>
            <%= render 'shared/feed' %>
        </div>


    </div>

</div>