<% provide(:title, @user.name) %>
<div class="row">
    <div class="ele-ctr container-small">

        <div class="user-info margin-bottom">
            <%= render 'shared/user_info' %>
        </div>

        <div>

            <div class="span4 margin-top">
                <%= render 'league_table' %>

            </div>
            <div class="span7 margin-top">
                <%= render 'shared/feed' %>
            </div>

        </div>


    </div>

</div>