<% if @feed_items.any? %>
    <div >
        <h5> What's Happening</h5>
        <ol class="userposts">
            <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
    </div>
<% end %>