<% if @feed_items.any? %>
    <div class="feed feed-left feed-top">
        <h5> What's Happening</h5>
        <ol class="userposts">
            <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
    </div>
<% end %>