<% if @feed_items.any? %>
    <div class="feed feed-left">
        <h5> What's Happening</h5>
        <ol class="userposts">
            <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
    </div>
<% else %>
    <div class="feed feed-left margin-top">
        <h5> What's Happening</h5>
        <ol class="userposts">
            <li>
                There have been no posts yet.
            </li>
        </ol>
    </div>
<% end %>