<div class="center hero-unit">
    <h1>Welcome to ManPoints</h1>

    <h2>
        Legends live here.
    </h2>

    <%= link_to "Sign up now!", 'users/new', class: "btn btn-large btn-primary btn-danger" %></br>

    <p>Already sign up? <%= link_to "sign in", signin_path%> </p>

</div>