<div class="intro-header">
    <div class="container">

        <div class="row padding-top">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to Pointz</h1>
                    <h3>Legends live here.</h3>
                    <hr class="intro-divider">
                    <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary btn-danger" %>

                    <p>Already a member? <%= link_to "sign in", signin_path%> </p>
                </div>
            </div>
        </div>

    </div>

</div>