<div class="center hero-unit white-bordered margin-top">
    <h1>Welcome to Pointz</h1>

    <h2>
        Legends live here.
    </h2>

    <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary btn-danger" %></br>

    <p>Already a member? <%= link_to "sign in", signin_path%> </p>

</div>