<h1>What is ManPoints?</h1>

<p>ManPoints is a social center for anyone looking to throw down the gauntlet on some friendly competition, while also keeping up with what others are up to</p>

<h2>How does it work?</h2>
<p>
    ManPoints is broken up into leagues and games.
    </p>

    <h3>Leagues:</h3>
    <p>Leagues serve as the hub for a group of friends to operate out of.</p>
    <p>You may go to the league tab at any time to create a new league and add any number of users.</p>

    <p>The league home page feed will be an aggregate feed showing all the activities from the games and users included in the league.</p>

    <h3>Games:</h3>
    <p>Games are where the man points will be generated. When a league admin creates a game, all of the users from the league will be included in the game.</p>

    <p>A game will have its own feed of activities that are going on in that game.</p>

    <h3>How to earn points:</h3>
    <p>Votes can be created to generate points for a user.</p>

    <p>A user must elect another user in the league to receive either positive or negative votes.</p>

    <p>After vote creation, the vote will be open to the game users to vote upon.</p>

    <p>A vote needs a 2/3rds acceptance rate to pass. If the vote passes, the targeted user will gain the points.</p>

    <h3>How to win:</h3>
    <p>Every game can be created with flexible options on scoring. This allows a winner to be determined by either the greatest point total over a time period, or the first user to hit a certain point target.</p>






</p>
