<div>
    <p class="no-margin">Votes Pending</p>

    <%= render 'event_vote/vote_table' %>
    <div class="no-margin padding-bottom">
        <p>
            Show vote history <%= link_to 'On', show_events_history_path(on_off: 1), remote: true %>
            | <%= link_to 'Off', show_events_history_path(on_off: 0), remote: true %>
        </p>
    </div>
    <% if @game.active %>
        <%= render 'vote_form' %>
    <% end %>
</div>