<div class="game-settings">
    <p class="centered"> Game Settings </p>

    <div>
        Start Date: <%= @game.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div>
        <% if !@game.end_date.nil? %>
            End Date: <%= @game.end_date.strftime("%m/%d/%Y") %>
        <% end %>
    </div>

    <div>
        Scoring: <%= scoring_type @game.point_tiers %>
    </div>
    <div>
        <% if !@game.score_cap.nil? %>
            Winning Point Cap: <%= @game.score_cap %>
        <% end %>
    </div>

</div>