<div class="game-settings">
    <p class="centered"> Game Settings </p>
    <div>
         <span>
             Start Date: <%= @game.created_at %>
             <% if !@game.end_date.nil? %>
                 End Date: <%= @game.end_date %>
             <% end %>
         </span>
    </div>

    <div>
        Scoring: <%= scoring_type @game.point_tiers %>
    </div>
    <div>
        <% if !@game.score_cap.nil? %>
            Winning Point Cap: <%= @game.score_cap %>
        <% end %>
    </div>

</div>