<div class="modal-header">
</div>
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%= render partial: 'vote_form' %>
    <button type="button" class="btn-right btn btn-sm btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>

</div>