<table class="table table-striped table-condensed table-hover " id="scores-table">
    <thead>
    <tr>
        <th>User</th>
        <th class="cell-centered">Points</th>
        <th class="cell-centered">Rank</th>

    </tr>
    </thead>
    <% @game.scores.each do |score| %>

        <tr>
            <td><%= link_to score.username, score.user %></td>
            <td class="cell-centered"><%= score.points %></td>
            <td class="cell-centered"><%= score.game.position(score.user) %></td>
        </tr>
    <% end %>

</table>
