<table class="table table-striped table-condensed table-hover table-bordered">
    <thead>
    <tr>
        <th>User</th>
        <th>Points</th>

    </tr>
    </thead>

    <% @scores.each do |score| %>

        <tr>
            <td><%= score.username %></td>
            <td><%= score.points %></td>
        </tr>
    <% end %>

</table>
<%= link_to 'Edit game settings', edit_game_path, class:  "btn btn-small btn-primary btn-danger" %>
<%= link_to 'end this game', @game, method: :delete,
            data: {confirm: "You sure?"},
            title: @game.name,
            class: "btn btn-small btn-primary btn-danger"%>