<li>
    <span class="data"><%= userpost.data %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(userpost.created_at) %> ago.
  </span>
    <% if current_user?(userpost.user) %>
        <%= link_to "delete", userpost, method: :delete,
                    data: { confirm: "You sure?" },
                    title: userpost.data %>
    <% end %>
</li>