<div id="userpost_<%= feed_item.id %>">
    <div>
        <%= link_to avatar_for(feed_item.user, 'small', 'userpost-gravatar', "45", nil), feed_item.user %>
    </div>
    <div class="feed-item-header">
        <%= link_to feed_item.user.name, feed_item.user %>
    </div>
    <div class="feed-item-content">
        <p class="feed-item-text"><%= feed_item.user.name %> has joined the league </p></div>
</div>