$tableBorder: black;
$grayMediumLight: #eaeaea;
$tableBackgroundHover: #ffffff;
$tableBackground: #FFFFFF;
$tableBackgroundAccent: #FFFFFF;
$btnDangerBackground: #B50300;
$btnDangerBackgroundHighlight: #6d0019;


@import "bootstrap";

/* mixins, variables, etc. */



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

a{
  color: #0452AE;
}

a:focus{
  color: #0452AE;
}

a:hover{
  color: #0452AE;
}


.container {
  width: 1170px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background: #f1f1f1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: whitesmoke;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.profile_avatar {
//  display: inline-block;
  height: 0px;
  margin: -35px;
  padding-left: 45px;
  border-radius: 6px;
//  padding-left: 20px;
  background: transparent;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* userposts */

.userposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.userpost-form{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.data {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* games */

.games {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.feed,
.status-content{
  background-color: white;
  border: 1px solid black;
//  padding-left: 20px;
  -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
  -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
  border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */

}

.feed-left {
  padding-left: 10px;
}

.feed-top {
  margin-top: 10px;
}

.navbar-inverse .navbar-inner{
  background: rgb(219,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(219,0,0,1) 0%, rgba(181,3,0,1) 24%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,0,0,1)), color-stop(24%,rgba(181,3,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0000', endColorstr='#b50300',GradientType=0 ); /* IE6-9 */
}




.navbar-inverse .brand,
.navbar-inverse .nav > li > {
  color: #B50300 ;
  a {
    color: whitesmoke;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
  }

  a:hover{

    background: rgb(143, 2, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  }

  a:focus{

    background: rgb(143, 2, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  }
}

  .user-info {
    background: white;
    -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
    -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
    border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
    border: 1px solid black;
    scroll: false;
    height: 175px;

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }

  .user-info .topframe {
    height: 60px;
    //  background: rgb(143, 2, 34);
    background: #B50300;
  }

  .profile_container {
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .button {
    background: rgb(143, 2, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  }

  .game-table,
  .league-users{
    padding-top: 20px;
  }



  .table-striped{
    border: 1px solid black;
    >thead>tr {
      background-color: #B50300;
      color: white;
    }
  }


  .row {
    padding-top: 20px;

  }

  .profile_name {
    padding-top: 20px;
    a{
      color: black;
    }
  }

  .profile_stats {
    padding: 10px;
    padding-top: 30px;
  }


    .username{
      font-size: 15px;
      font-style: bold;

    }






.league_overview{

}

.round-border{
  background: red;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}




.table-bordered {

  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th/td in the first row in the first thead or tbody
  thead:first-child tr:first-child > th:first-child,
  tbody:first-child tr:first-child > td:first-child,
  tbody:first-child tr:first-child > th:first-child {
    @include border-top-left-radius($baseBorderRadius);
  }
  // For last th/td in the first row in the first thead or tbody
  thead:first-child tr:first-child > th:last-child,
  tbody:first-child tr:first-child > td:last-child,
  tbody:first-child tr:first-child > th:last-child {
    @include border-top-right-radius($baseBorderRadius);
  }
  // For first th/td (can be either) in the last row in the last thead, tbody, and tfoot
  thead:last-child tr:last-child > th:first-child,
  tbody:last-child tr:last-child > td:first-child,
  tbody:last-child tr:last-child > th:first-child,
  tfoot:last-child tr:last-child > td:first-child,
  tfoot:last-child tr:last-child > th:first-child {
    @include border-bottom-left-radius($baseBorderRadius);
  }
  // For last th/td (can be either) in the last row in the last thead, tbody, and tfoot
  thead:last-child tr:last-child > th:last-child,
  tbody:last-child tr:last-child > td:last-child,
  tbody:last-child tr:last-child > th:last-child,
  tfoot:last-child tr:last-child > td:last-child,
  tfoot:last-child tr:last-child > th:last-child {
    @include border-bottom-right-radius($baseBorderRadius);
  }

  // Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
  tfoot + tbody:last-child tr:last-child td:first-child {
    @include border-bottom-left-radius(0);
  }
  tfoot + tbody:last-child tr:last-child td:last-child {
    @include border-bottom-right-radius(0);
  }

  // Special fixes to round the left border on the first td/th
  caption + thead tr:first-child th:first-child,
  caption + tbody tr:first-child td:first-child,
  colgroup + thead tr:first-child th:first-child,
  colgroup + tbody tr:first-child td:first-child {
    @include border-top-left-radius($baseBorderRadius);
  }
  caption + thead tr:first-child th:last-child,
  caption + tbody tr:first-child td:last-child,
  colgroup + thead tr:first-child th:last-child,
  colgroup + tbody tr:first-child td:last-child {
    @include border-top-right-radius($baseBorderRadius);
  }

}

.table-bordered th,
.table-bordered td {
   border-left: none;
   vertical-align: middle;
}

  #userpost_data{
    margin-bottom: 2px;

      border: 1px solid #c4c4c4;
      overflow: auto;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

//  width: auto;
//  height: 30px;
//  border: 3px solid #cccccc;
//  padding: 5px;
//  font-family: Tahoma, sans-serif;
//  background-image: url(bg.gif);
//  background-position: bottom right;
//  background-repeat: no-repeat;
}

.btn-right{
  float: right;
}

.vote-form{
  background: white;
  border: 1px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 5px;

}

.no-margin{
  margin: 1px;
}

td.cell-centered
{

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

th.cell-centered{
  text-align: center;
}


input[type="text"]{
  margin: 1px;
}

.container .game-header{
  width: 100%;
  background: #777777;
  overflow-x: visible;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.table-fixed{
  table-layout: fixed;
}