$tableBorder: black;
$grayMediumLight: #eaeaea;
$tableBackgroundHover: #ffffff;
$tableBackground: #FFFFFF;
$tableBackgroundAccent: #FFFFFF;
$btnDangerBackground: #B50300;
$btnDangerBackgroundHighlight: #6d0019;
//$btn-danger-bg: #6d0019;
//$btn-danger-color: #B50300;
$brand-danger: #B50300;

@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

/* TODO refactor custom.css to individual css files */


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin gravatar_boxing{
  float: left;
  margin-right: 10px;
  border: 3px solid white;
  outline: 1px solid black;
}



.grey{
  color: #808080;
}

/* universal */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 0px;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid black;
}

.table-striped > thead > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > th,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > th,
.table-striped > tfoot > tr > td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a{
  color: #0452AE;
}

a:focus{
  color: #0452AE;
}

a:hover{
  color: #0452AE;
}

.navbar-fixed-top .container{
  width: 1200px;
}
.container {
  width: 1200px;
}

.container-small {
  width: 940px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 42px;
  background: #f1f1f1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul, li, ol {
  padding-left: 0px;
  margin-left: 0px;
}

input[type="submit"]{
  width: auto;
}
.text-centered {
  text-align: center;
}

.ele-ctr{
  margin-right: auto;
  margin-left: auto;
}

.table-striped{
  border: 1px solid black;
  >thead>tr {
    background-color: #B50300;
    color: white;
  }
}

.table-bordered th,
.table-bordered td {
  border-left: none;
  vertical-align: middle;
}

.btn-right{
  float: right;
}

//.btn-danger {
//  color: white;
//  background-color: #d9534f;
//  border-color: #d43f3a;
//}

td.cell-centered
{
  max-width: 100%;
  text-align: center;
}

th.cell-centered{
  text-align: center;
}

.table-fixed{
  table-layout: fixed;
}

.overflow-hidden{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.round-border{
  background: red;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

input[type="text"] {
  margin: 0px;
}

.block{
  display: block;
}

.row {
  padding-top: 20px;
}

.mrg_btm_3px{
  margin-bottom: 3px;
}

#infinite-scrolling {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.opacity-thirtyfive{
  opacity: .35;
}


.white-bordered{
  background: white;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 15px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.float-left{
  float: left;
}

.float-right{
  float: right;
}

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.no-margin{
  margin: 1px;
}

.margin-left{
  margin-left: 10px;
}

.margin-right{
  margin-right: 10px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}

.display-none{
  display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}




/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: whitesmoke;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* avatars */

.gravatar {
  float: left;
  margin-right: 10px;
  border: 3px solid white;
}

.user-gravatar, .league-gravatar {
  float: left;
  margin-right: 10px;
  margin-top: -29px;
  border: 3px solid white;
  outline: 1px solid black;

}

.user-profile-gravatar, .league-profile-gravatar{
  float: left;
  margin-right: 10px;
  border: 3px solid white;
  outline: 1px solid black;
}


.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.profile_avatar, .league-avatar {
  height: 0px;
  margin: -35px;
  padding-left: 45px;
  border-radius: 6px;
  background: transparent;
}

.userpost-gravatar{
  @include gravatar_boxing;
  height: 42px;
  width: 42px;
}

.comment-gravatar{
  @include gravatar_boxing;
  max-height: 32px;
  max-width: 32px;
  width: 100%;
}

.league-index-gravatar {
  float: left;
  margin: 5px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


input[type="file"]{
  display: none;
}

.userpost-form{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.vote-form{
  background: white;
  padding: 10px;
  margin-bottom: 5px;

  .input-half{
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.comment-form{
  input{
    margin: 0px;
    padding: 3px;
    width: 100%;
  }
  form{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.start-date{
  float: left;
  padding-right: 50px;
}

.end-date{
  padding-right: 28px;
  width: 189px;
}

.input-append{

  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;

  .add-on{
    margin-top: 1px;
    margin-left: -2px;
    padding-bottom: 5px;
  }

  .btn{
   margin-top: 1px;
   margin-left: -2px;
  }
}

.input-group-addon {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.date-input{
  height: 55px;
  display: block;
}

.game-form, .user-form, .input-form, .league-form{
  width: 700px;
  background: white;
  border: 1px solid #808080;
  padding: 20px;

  input{
    padding-top: 5px;
    vertical-align: inherit;
  }

  label{
    max-width: 300px;
    padding-top: 15px;
    font-weight: bold;
  }

  .btn{
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .form-btns{
    input{
      display: inline;
      vertical-align: middle;
      width: auto;
    }
  }

  .danger-box{
    div{
      padding-left: 10px;
    }
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    float: left;
  }
}

/* Users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* userposts */

.userposts {
  list-style: none;
  margin: 10px 0 0 0;
  padding-left: 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

#userpost_data{
  border-radius: 0px;
  margin-bottom: 4px;

  border: 1px solid #c4c4c4;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.userpost-stats li{
  text-decoration: none;
  display: inline;
  border: none;
}

.userpost-text{
  margin-bottom: -2px;
}
.post-extras{
  display: none;
  height:125x;
  border: 1px lightgrey;
  background: #dfdfdf;
  margin-bottom: 2px;
  margin-top: -4px;
}

.post-picture{
  width: 75px;
  padding: 5px;
}

.data {
  display: block;
}
.timestamp {
  color: $gray-light;
}
.comments-list{
  margin: 0px;
  background: #dddddd;
  list-style: none;
  padding-left: 5px;
  li{
    padding: 5px;
  }

  p{
    margin-bottom: 3px;
  }
}



/* games */

.games {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

.container .game-header{
  width: 100%;
  overflow-x: visible;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  h1{
    text-align: left;
  }
}

.game-settings{
  border-radius: 6px;
  padding: 10px;
  border: 2px solid gainsboro;
  background: white;

  p{
    padding: 0;
    margin: 0;
  }
}

.leagues-list, .games-list{
  list-style: none;
  margin: 0;
  li{
    border-top: 1px solid lightgrey;
    margin-right: 5px;
  }
}

.pts-header{
  margin-right: 5px;
  margin-top: -10px;
  text-align: right;
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.game-title{
  margin-left: 7px;
}

.pts-pos-entry{
  margin-right: 5px;
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    list-style: none;
    border: none;
    padding-left:5px;
    padding-right: 5px;
  }
}

.games-table{
  background: white;
  border: 1px solid #808080;
  margin-bottom: 10px;
}

#votes-table{
  tbody{
    cursor: pointer;
  }
}

/* leagues */

.mini-league-table{
  vertical-align: top;
  padding-top: 10px;
}

.league-title{
  font-weight: bold;
}

.leagues-table{
  background: white;
  border: 1px solid grey;
  padding-left: 10px;
}

.container{
  .league-container{
    background: white;
    padding: 15px;
  }
}

.league-content{
  padding-left: 10px;
  margin-top: 20px;
  p{
    padding:0px;
    margin: 0px;
  }
}

.league-overview{
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin: 15px;
}

.league-users{
  padding-top: 20px;
}

/* feed */

.feed{
  border: 1px solid #d2d2d2;
  padding-top:10px;
  background-color: white;
  -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
  -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
  border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
  padding-right: 10px;
  padding-bottom: 10px;
}

.status-content{
  border: 1px solid #d2d2d2;
  background-color: white;
  -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
  -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
  border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
}

.feed-left {
  padding-left: 10px;
}

.feed-top {
  margin-top: 10px;
}

.feed-item-link{
  margin-right: .5%;
  margin-left: auto;
  float: right;
}

.feed-item-text{
  padding: 0px;
  margin: 0px;
  line-height: 20px;
}

.feed-item-header{
  color: grey;
  font-size: 13px;
}

.feed-item-header-lrg{
  color: black;
  font-size: 14px;
  height: 65px;
}

.feed-item-content{
  color: black;
  font-size: 14px;
}

.feed-item-footer{
  color: grey;
  font-size: 13px;
  a{
    opacity: .6;
    margin-right: 1%
  }
  i{
    opacity: .35;
  }
}

.feed-item-attachment{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-height: 200px;
}

/* navbar */

.navbar, .navbar-default, .navbar-fixed-top{
  background: rgb(219,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(219,0,0,1) 0%, rgba(181,3,0,1) 24%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,0,0,1)), color-stop(24%,rgba(181,3,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(219,0,0,1) 0%,rgba(181,3,0,1) 24%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0000', endColorstr='#b50300',GradientType=0 ); /* IE6-9 */
  height: 42px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background: rgb(143, 2, 34); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  color: white;
}

.navbar-default .navbar-nav > li > {
  color: #B50300 ;
  a {
    color: whitesmoke;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
    padding-top: 0px;
  }

  a:hover{

    background: rgb(143, 2, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  }

  a:focus{

    background: rgb(143, 2, 34); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(43%, rgba(143, 2, 34, 1)), color-stop(66%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(143, 2, 34, 1) 43%, rgba(109, 0, 25, 1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0); /* IE6-9 */
  }
}

.nav-clipped{
  max-width: 55px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-inverse .navbar-search .search-query {
  color: white;
  background-color: #ffffff;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  width: 400px;
  vertical-align: -webkit-baseline-middle;
}

.navbar-form{
  padding-top: 3px;
  margin: 0px;
  height: 42px;
  input{
    margin-left: 155px;
    width: 540px;
    line-height: normal;
    vertical-align: -webkit-baseline-middle;
  }
}



.nav-posts{
  border-bottom: none;
  margin: 0px 4px 0px 4px;
  padding: 0px;
  li{
    width: 50%;
  }
}

.navbar {
  min-height: 0px;
  border-bottom: 1px solid black;
}

.navbar-nav {
  margin-top: 7.5px;
}

.navbar-links{
    margin: 0px;
    padding: 0px;
    color: white;
    height: 42px;
    li {
      a {
        height: 42px;
        color: black;
      }
    }
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu > li > a {
  height: 20px;
  display: block;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0)
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0)
}




.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  text-decoration: none;
  border-bottom-color: transparent;
  background-color: #d2d2d2;
}

.navbar-nav .inactive {
  text-decoration: none;
  background-color: #ebebeb;
  //  border-radius: 3px;
  //  border: 1px solid lightgray;
  border-bottom: none;

}

.navbar-form .form-control {
  display: inline-block;
  width: 500px;
  vertical-align: middle;
  padding: 5px;
}

.form-group button {
  padding: 3px;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  padding: 9px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


/* user/league profile info block */

  .user-info, .league-info {
    background: white;
    -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
    -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
    border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
    border: 1px solid black;
    scroll: false;
    min-height: 175px;
    margin-bottom: 2px;
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }

  .topframe-user {
    height: 60px;
    background: #B50300;
    color: white;
    padding-left: 20px;
  }

.topframe-table {
  height: 30px;
  background: #B50300;
  color: white;
  padding-left: 20px;
}

  .profile_container {
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .profile_name, .league-name {
    padding-top: 20px;
    a{
      color: black;
    }
  }

  .profile_stats {
    padding: 10px;
    padding-top: 30px;
  }

  .username{
    font-size: 15px;
    font-style: bold;
   }

.photo-modal{
  width: 400px;
}

.modal-btn {
  padding: 0px;
  margin: 0px;
  vertical-align: inherit;
}

.jcrop-keymgr{
  opacity: 0;
}

/* friends/search */

.friend-box .header, .friend-requests-box .header{
  background: #e1e1e1;
}

.friend-box, .friend-requests-box {
  border: 1px solid black;
}

.search-results{
  background: white;
  margin-left: 290px;
  padding-left: 10px;
}

.user-search-content{
  padding-left: 70px;
}


.requested-friends-list{
  padding: 0px;
  margin: 0px;
  img{
    padding-top: 5px;
    padding-left: 5px;
  }
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    list-style: none;
  }
}

.friend-requests-box .pad, .friend-box .pad{
  padding: 5px;
}

.friend_list{
  padding:0px;
  margin: 0px;
  li{
    margin: 3px;
    list-style: none;
    display: inline-block;
  }
}
