$tableBorder: black;
$grayMediumLight: #eaeaea;
$tableBackgroundHover: #ffffff;
$tableBackground: #FFFFFF;
$tableBackgroundAccent: #FFFFFF;
$btnDangerBackground: #B50300;
$btnDangerBackgroundHighlight: #6d0019;
//$btn-danger-bg: #6d0019;
//$btn-danger-color: #B50300;
$brand-danger: #B50300;

@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

/* TODO refactor custom.css to individual css files */


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin gravatar_boxing{
  float: left;
  margin-right: 10px;
  border: 3px solid white;
  outline: 1px solid #c4c4c4;
}



.grey{
  color: #808080;
}

/* universal */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 0px;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #6e6e6e;
}

.table-striped > thead > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > th,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > th,
.table-striped > tfoot > tr > td {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
}

a{
  color: #0452AE;
}

a:focus{
  color: #0452AE;
}

a:hover{
  color: #0452AE;
}

.navbar-fixed-top .container{
  width: 1200px;
}
.container {
  width: 1200px;
}

.container-small {
  width: 940px;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 42px;
  background-image: url(real_background.jpg);
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #c3c3c3;
  back-mountain: #B82F2F;
  middle-mountain: #DD4A4A;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul, li, ol {
  padding-left: 0px;
  margin-left: 0px;
}

input[type="submit"]{
  width: auto;
}
.text-centered {
  text-align: center;
}

.ele-ctr{
  margin-right: auto;
  margin-left: auto;
}

.table-striped{
  border: 1px solid #6e6e6e;
  >thead>tr {
    background-color: #B50300;
    color: white;
  }
}

.table-bordered th,
.table-bordered td {
  border-left: none;
  vertical-align: middle;
}

.btn-right{
  float: right;
}

//.btn-danger {
//  color: white;
//  background-color: #d9534f;
//  border-color: #d43f3a;
//}

td.cell-centered
{
  max-width: 100%;
  text-align: center;
}

th.cell-centered{
  text-align: center;
}

.table-fixed{
  table-layout: fixed;
}

.overflow-hidden{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.round-border{
  background: red;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

input[type="text"] {
  margin: 0px;
}

.block{
  display: block;
}

//.row {
//  padding-top: 20px;
//}

.mrg_btm_3px{
  margin-bottom: 3px;
}

#infinite-scrolling {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.opacity-thirtyfive{
  opacity: .35;
}


.white-bordered{
  background: white;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 15px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.float-left{
  float: left;
}

.float-right{
  float: right;
}

.float-overflow{
  overflow: hidden;
}

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.no-margin{
  margin: 1px;
}

.margin-left{
  margin-left: 10px;
}

.margin-right{
  margin-right: 10px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}

.display-none{
  display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}



#splash {
  background-color: #000000;
  background-image: url(background_03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 42px; right: 0; bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
}

#splash_2{
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(background_03.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-header {
  position: absolute;
  top: 42px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000;
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(beer_background.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  padding-top: 5%;
}

.intro-message > p > a{
  color: $brand-danger
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}



/* header */

#logo {
  float: left;
  margin-left: -50%;
  font-size: 1.7em;
  color: #B50300;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px 0px 0px 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* avatars */

.gravatar {
  float: left;
  margin-right: 10px;
  border: 3px solid white;
}

.user-gravatar, .league-gravatar {
  float: left;
  margin-right: 10px;
  margin-top: -29px;
  border: 3px solid white;
  outline: 1px solid #6e6e6e;

}

.user-info-gravatar, .league-profile-gravatar{
  float: left;
  margin-right: 10px;
  border: 3px solid white;
  outline: 1px solid #6e6e6e;
}


.user-avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.user-info-avatar-wrapper, .league-avatar {
  height: 0px;
  margin: -35px;
  padding-left: 45px;
  border-radius: 6px;
  background: transparent;
}

.userpost-gravatar{
  @include gravatar_boxing;
  height: 42px;
  width: 42px;
}

.comment-gravatar{
  float: left;
  height: 32px;
  width: 32px;
  margin: 5px 8px 2px 0px;
  img{
    border: 3px solid white;
    outline: 1px solid #c4c4c4;
    max-height: 32px;
    max-width: 32px;
    width: 100%;
  }
}

.league-index-gravatar {
  float: left;
  margin: 5px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


input[type="file"]{
  display: none;
}

.userpost-form{
  padding: 10px 10px 10px 10px;
}

.vote-form{
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;

  .input-half{
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.comment-form{
  input{
    margin: 0px;
    padding: 3px;
    width: 100%;
  }
  form{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.start-date{
  float: left;
  padding-right: 50px;
}

.end-date{
  padding-right: 28px;
  width: 189px;
}

.input-append{

  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;

  .add-on{
    margin-top: 1px;
    margin-left: -2px;
    padding-bottom: 5px;
  }

  .btn{
   margin-top: 1px;
   margin-left: -2px;
  }
}

.input-group-addon {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.date-input{
  height: 55px;
  display: block;
}

.game-form, .user-form, .input-form, .league-form {
//  width: 700px;
  background: white;
  border: 1px solid #808080;
  padding: 20px;

  input {
    padding-top: 5px;
    vertical-align: inherit;
  }

  label {
    max-width: 300px;
    padding-top: 15px;
    font-weight: bold;
  }

  .btn {
    margin-top: 10px;
    padding-bottom: 5px;
  }
}

  .form-btns{
    input{
      display: inline;
      vertical-align: middle;
      width: auto;
    }
    overflow: hidden;
  }

  .danger-box{
    div{
      color: #B50300;
      padding-left: 10px;
    }
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #B50300;
    border-bottom: 1px solid #B50300;
  }


/* Users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* userposts */

.userposts {
  list-style: none;
  margin: 0px;
  padding-left: 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #ffffff;
  }
}

#userpost_data{
  border-radius: 0px;
  margin-bottom: 4px;

  border: 1px solid #c4c4c4;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.userpost-stats li{
  text-decoration: none;
  display: inline;
  border: none;
}

.userpost-text{
  margin-bottom: -2px;
}
.post-extras{
  display: none;
  height:125x;
  border: 1px lightgrey;
  background: #dfdfdf;
  margin-bottom: 2px;
  margin-top: -4px;
}

.post-picture{
  width: 80px;
  img{
    margin: 5px 0px 0px 5px;
  }
  .center{
    text-align: center;
    margin: 5px 0px 0px 5px;
  }
}

.img-prev-del{
  cursor: pointer;
}

.data {
  display: block;
}
.timestamp {
  color: $gray-light;
}
.comments-list{
  margin: 0px;
  background: #E5E4E4;
  list-style: none;
  li{
    padding: 5px;
    word-wrap: break-word;
  }
  p{
    margin-bottom: 3px;
  }
}



/* games */

.games {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

.container .game-header{
  color: black;
  width: 100%;
  overflow-x: visible;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  h1{
    text-align: left;
  }
  a{
    color: #000000;
    &:hover, &:focus {
      color: #000000;
    }
  }
}

.game-settings{
  border-radius: 6px;
  padding: 10px;
  border: 2px solid gainsboro;
  background: white;

  p{
    padding: 0;
    margin: 0;
  }
}

.leagues-list, .games-list{
  list-style: none;
  margin: 0;
  li{
    &:first-child{
      border-top: none;
      margin-right: 5px;
    }
    border-top: 1px solid lightgrey;
    margin-right: 5px;
  }
}

.pts-header{
  margin-right: 5px;
  margin-top: -10px;
  text-align: right;
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.game-title{
  margin-left: 7px;
}

.pts-pos-entry{
  margin-right: 5px;
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    list-style: none;
    border: none;
    padding-left:5px;
    padding-right: 5px;
  }
}

.games-table{
  background: white;
  border: 1px solid #808080;
  margin-bottom: 10px;
}

#votes-table{
  tbody{
    cursor: pointer;
  }
}

/* leagues */

.mini-league-table{
  vertical-align: top;
  padding-top: 10px;
}

.league-title{
  font-weight: bold;
}

.leagues-table{
  background: white;
//  border: 1px solid lightgray;
  padding-left: 10px;
}

.container{
  .league-container{
    background: white;
    padding: 15px;
  }
}

.league-content{
  padding-left: 10px;
  margin-top: 20px;
  p{
    padding:0px;
    margin: 0px;
  }
}

.league-overview{
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin: 15px;
}

.league-users{
  padding-top: 20px;
}

/* feed */

.feed-post-wrapper{
  border: 1px solid #d2d2d2;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 4px;
  p{
    font-size: 1em;
  }
}

.feed-list-header{
  border: 1px solid #d2d2d2;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  margin: 0px;
}

.feed-post-inner{
  padding: 10px 10px 2px 10px;
}

.status-content{
  border: 1px solid #d2d2d2;
  background-color: white;
  -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
  -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
  border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
}

.feed-left {
  padding-left: 10px;
}

.feed-top {
  margin-top: 10px;
}

.feed-item-link{
  margin-right: .5%;
  margin-left: auto;
  float: right;
}

.feed-item-text{
  padding: 0px;
  margin: 0px;
  line-height: 20px;
}

.feed-item-header{
  color: grey;
  font-size: 13px;
}

.feed-item-header-lrg{
  color: black;
  font-size: 14px;
  height: 65px;
}

.feed-item-content{
  color: black;
  font-size: 14px;
}

.feed-item-footer{
  color: grey;
  font-size: 13px;
  a{
    opacity: .6;
    margin-right: 1%
  }
  i{
    opacity: .35;
  }
}

.feed-item-attachment{
  display: block;
  margin: 10px auto 10px auto;
  max-width: 400px;
  max-height: 450px;
  .modal-image img{
    max-width: 97%;
    max-height: 97%;
  }
}

.attachment-wrapper img{
    max-width: 400px;
    max-height: 450px;
}

/* navbar */

.navbar, .navbar-default, .navbar-fixed-top{
  -webkit-box-shadow: 0px 1px 0px 0px rgba(209,209,209,1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(209,209,209,1);
  box-shadow: 0px 1px 0px 0px rgba(209,209,209,1);
  height: 42px;
}

.collapse .navbar-collapse, .navbar-header, .navbar-brand{
  height: 42px;
}

.navbar-header{
  position: absolute;
  left: 50%;
}

.navbar-default .navbar-nav > li > {
  color: #B50300 ;
  a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
    color: #B50300;
    padding: 9px;
  }

  a:hover {
    color: darken(#B50300, 10%);
    border-bottom: 4px solid #B50300;
    transition: all .25s ease-in-out;
  }

  a:focus{
    color: darken(#B50300, 10%);
    border-bottom: 4px solid #B50300;
    transition: all .25s ease-in-out;
  }
}


.nav-clipped{
  max-width: 55px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-inverse .navbar-search .search-query {
  color: white;
  background-color: #ffffff;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  width: 400px;
  vertical-align: -webkit-baseline-middle;
}


.stylish-input-group {
  width: 280px;

  .input-group-addon {
    background: white !important;
    padding: 0px 2px 0px 0px;
  }
  .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
  }
  button {
    color: #808080;
    border: 0;
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}


.navbar-form{
  padding: 3.5px 0px 0px 0px;
  margin: 0px;
  height: 42px;
  input{
    width: 540px;
    line-height: normal;
    vertical-align: -webkit-baseline-middle;
  }
}



.nav-posts{
  border-bottom: none;
  margin: 0px 4px 0px 4px;
  padding: 0px;
  li{
    width: 50%;
  }
}

.navbar {
  min-height: 0px;
  border: none;
}

.navbar-nav {
  margin-top: 7.5px;
}

.navbar-links{
    margin: 0px;
    padding: 0px;
  color: #8c8c8c;
    height: 42px;
    li {
      a {
        height: 42px;
        color: black;
      }
    }
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu > li > a {
  height: 20px;
  display: block;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #B50300;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background: #B50300;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  text-decoration: none;
  border-bottom-color: transparent;
  background-color: #d2d2d2;
}

.navbar-nav .inactive {
  text-decoration: none;
  background-color: #ebebeb;
  border-bottom: none;

}

.navbar-form .form-control {
  display: inline-block;
  width: 500px;
  vertical-align: middle;
  padding: 5px;
}

.form-group button {
  padding: 3px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
/* line 98, /usr/local/rvm/gems/ruby-2.1.1/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_navs.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: white;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs > li.inactive > a {
  &:hover, &:focus{
    background-color: darken(lightgray, 20%);
    color: whitesmoke;
  }
  color: #555555;
  background-color: lightgray;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}


/* user/league profile info block */

  .user-info, .league-info {
    background: white;
    -moz-border-radius: 5px;    /* Firefox 3.6-, removed in Firefox 13 */
    -webkit-border-radius: 5px; /* Safari 4-, Chrome 3- */
    border-radius: 5px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
    border: 1px solid rgb(90, 90, 90);
    scroll: false;
    min-height: 175px;
    margin-bottom: 2px;
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }

  .user-profile{
    background: white;
    border: 1px solid rgb(90, 90, 90);
    scroll: false;
    min-height: 175px;
    margin-bottom: 2px;

    .topframe{
      height: 75px;
      background: #B50300;
      color: white;
      padding-left: 20px;
    }
    .profile-container{
      margin-left: 200px;
      padding-top: 15px;
      padding-left: 5px;
      padding-bottom: 10px;
      height: 125px;
    }
    .avatar-wrapper {
      height: 200px;
      width: 200px;
      position: absolute;
    }
    .name{
      font-size: 24px;
      margin: 10px 0px 15px 0px;
      text-align: center;
    }
   }

  .topframe-user {
    height: 60px;
    background: #B50300;
    color: white;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

.topframe-table {
  height: 30px;
  background: #B50300;
  color: white;
  padding-left: 20px;
}

  .user-info-container, .league-info-container{
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .user-info-name, .profile-name, .league-name {
    padding-top: 20px;
    a{
      color: black;
    }
  }

  .user-info-stats{
    padding: 37px 10px 10px 10px;
    tr{
      text-align: center;
    }
  }

  .profile-stats{
    width: 100%;
    text-align: center;
  }

  .username{
    font-size: 15px;
    font-style: bold;
   }

.photo-modal{
  width: 400px;
}

.modal-btn {
  padding: 0px;
  margin: 0px;
  vertical-align: inherit;
}

/* CSS used here will be applied after bootstrap.css */

html, body { height: 100%;}

/* So that the modal is displayed in the preview.. You can probably remove this and the above rule */
.img-modal {
  display: block;
  height: 80%;
}

.img-modal .modal-dialog {
  /* An arbitrary minimum height. Feel free to modify this one as well */
  min-height: 350px;
  height: 80%;
}

.img-modal .modal-content, .img-modal .modal-body, .img-modal .row, .img-modal .modal-image {
  height: 100%;
}

.modal-content {
  border-radius: 0;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-image {
  background: #000;
  padding: 5px 0px 5px 0px;
}

.modal-image img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-modal .img-modal-btn {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  font-size: 1.5em;
  width: 45px;
  color: #fff;
  transition: opacity .2s ease-in;
}

.img-modal .modal-image:hover .img-modal-btn {
  opacity: 0.4;
}

.img-modal .modal-image:hover .img-modal-btn:hover {
  opacity: 0.75;
}

.img-modal .img-modal-btn.right {
  right: 0;
}

.img-modal .img-modal-btn i {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -.75em;
}

.img-modal .modal-meta {
  position: relative;
  height: 100%;
}

.img-modal .modal-meta-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 45px;
  padding: 5px 10px;
  overflow-y: auto;
}

.img-modal .modal-meta-top .img-poster img {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 15px;
}

.img-modal .modal-meta-top .img-poster strong {
  display: block;
  padding-top: 15px;
}

.img-modal .modal-meta-top .img-poster span {
  display: block;
  color: #aaa;
  font-size:.9em;
}

.img-modal .modal-meta-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-top: solid 1px #ccc;
}

.img-modal .img-comment-list {
  list-style: none;
  padding: 0;
}
.img-modal .img-comment-list li {
  margin:0;
  margin-top:10px;
}

.img-modal .img-comment-list li > div {
  display:table-cell;
}

.img-modal .img-comment-list img {
  border-radius:50%;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  margin-top: 20px;
}

.img-modal .img-comment-list p {
  margin: 0;
}

.img-modal .img-comment-list span {
  font-size: .8em;
  color: #aaa;
}

.img-modal .post-content {
  padding: 10px;
  word-wrap: break-word;
}

.image-caption{
  padding-left: 10%;
}

.jcrop-keymgr{
  opacity: 0;
}

/* friends/search */

.friend-box .header, .friend-requests-box .header{
  background: #9E9E9E;
}

.friend-box, .friend-requests-box {
  background: #B50300;
  color: whitesmoke;
  border: 1px solid rgb(90, 90, 90);
}

.cover-card {
  border: 2px solid white;
  background: silver;
  padding: 0px;
  margin: 0px;
  height:65px;
  width:65px;
}

.cover-card > p {
  text-align: center;
  background-color: rgba(6,6,6,0.0);
  color: rgba(6,6,6,0.0);
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
}
.cover-card:hover > p {
  background-color: rgba(6,6,6,0.3);
  color: white;
  text-shadow: 3px 3px 10px #000;
}

  .friend-wrapper{
    height: 65px;
    width: 65px;
    position: relative;
  }

 .friend-name {
  background: #000;
  background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .7)));
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .85));
  color: #fff;
  display: block;
  padding: 5px 0px 0px 5px;
  width: 100%;
  word-wrap: break-word;
  position: absolute;
  bottom: 0px;
}

.search-results{
  background: white;
  margin-left: 290px;
  padding-left: 10px;
}

.user-search-content{
  padding-left: 70px;
}


.requested-friends-list{
  padding: 0px;
  margin: 0px;
  img{
    padding-top: 5px;
    padding-left: 5px;
  }
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    list-style: none;
  }
}

.friend-requests-box .pad, .friend-box .pad{
  padding: 5px;
}

.friend-list{
  padding:0px;
  margin: 0px;
  li{
    margin: 3px;
    list-style: none;
    display: inline-block;
  }
}
