.league-form{
  width: 700px;
  background: white;
  border: 1px solid #808080;
  padding: 20px;

  label{
    padding-top: 5px;
    font-weight: bold;
    max-width: 300px;
  }

  input{
    max-width: 300px;
  }

}

.end-league-box{
  max-width: 150px;
  height: 40px;
//  border: 2px solid black;
}